<form class="mt-5 w-50 m-auto" (ngSubmit)="saveOrder(orderForm)" #orderForm="ngForm">
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input
      type="number"
      class="form-control"
      id="amount"
      aria-describedby="emailHelp"
      name="amount"
    
     [(ngModel)]="product.price" 
    />
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Shipping Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      name="shippingAddress"
      ngModel
    />
  </div>
  <div class="mb-3">
    <label for="number" class="form-label">Quantity</label>
    <input
      type="text"
      class="form-control"
      id="quantity"
      name="quantity"
      ngModel 
    />
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" ngModel/>
  </div>
  <div class="mb-3">
    <label for="productId" class="form-label">Product Id</label>
    <input
      type="number"
      class="form-control"
      id="username"
      name="productId"
      [(ngModel)]="product.id" 
     
    />
  </div>

  <button type="submit" class="btn btn-primary m-auto">Submit</button>
</form>


